# Upstream
upstream {{ nginx_backend_name }} {
 server {{ nginx_backend_addr }}:{{ nginx_backend_port }};
}

# HTTP Server
server {
    listen 80;
    server_name {{ inventory_hostname }};
    root /var/www/html/{{ inventory_hostname }};
    location / {
        return 301 https://{{ inventory_hostname }}$request_uri;
    }
}

# HTTPS Server
server {
    listen 443 ssl;
    server_name {{ inventory_hostname }};
    root /var/www/html/{{ inventory_hostname }};
    error_log /var/log/nginx/{{ inventory_hostname }}-error.log warn;
    access_log /var/log/nginx/{{ inventory_hostname }}-access.log;
    ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_dhparam /etc/nginx/ssl/dhparam.pem;
    ssl_session_cache builtin:1000  shared:SSL:10m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
    ssl_prefer_server_ciphers on;
    location / {
      # Reverse Proxy Settings
      proxy_pass        http://{{ nginx_backend_name }};
      proxy_redirect    off;
      proxy_set_header  X-Forwarded-Host $host;
      proxy_set_header  X-Forwarded-Server $host;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  X-Forwarded-Proto $scheme;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  Host $host;
    }
}

